{
    "singleQuote": false,
    "semi": false,
    "tabWidth": 4,
    "printWidth": 280,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 200
            }
        }
    ]
}
